:root {
	--angle: 1turn;
}

* {
	font-family: InterVariable, sans-serif;
}

label > input {
	max-width: 10em;
}

#players {
	padding: 0px;
	list-style-position: inside;
}

.full-size {
	position: fixed;
	top: 0; bottom: 0; left: 0; right: 0;
	overflow: hidden;
	background-color: white;
	z-index: 100;
	touch-action: none;
}

.button-container:not([hidden]) {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	transform: rotate(var(--angle));
}

.button {
	width: 20dvmin;
	height: 20dvmin;
	background-color: black;
	border-radius: 50%;
	transform: translate(150%);
}

dialog > p {
	margin-top: 0;
}

dialog button {
	display: block;
	margin: auto;
}
